<h2>Itens</h2>

<table>
  <tr>
    <th>Fabricante</th>
    <th>Produto</th>
    <th>Preco</th>
    <th>Observacao</th>
  </tr>
  <% itens.each do |item| %>
    <tr>
      <td><%= item.produto.fabricante %></td>
      <td><%= item.produto.nome %></td>
      <td><%= item.preco %></td>
      <td><%= item.observacao %></td>
    </tr>
  <% end %>
</table>
